

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.thumbnail-wrapper {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
}

.thumbnail-wrapper img {
    width: auto;
    height: 100%;
    margin-left: -20px;
}

.profile-wrapper {
    display: inline-block;
    position: relative;
    width: 240px;
    height: 240px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-wrapper img {
    width: auto;
    height: 100%;
    margin-left: -60px;
}

.background-primary {
    background-color: #105e3c;
    color: white;
}

.color-primary {
    color: #105e3c;
}

.btn-link {
    text-decoration: none !important;
}

a {
    text-decoration: none !important;
}

@media (min-width: 1366px) {
    .provider-card {
        width: 80%;
    }
}


